{%extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(../static/images/background/5.jpg);">
    	<div class="auto-container">
            <h3>The Three Little Pigs Behind It All</h3>
            <h2>About Us</h2>
        </div>
    </section>
    <!--Page Title-->
    
    <!--Restaurant Section-->
    <section class="restaurant alternate">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Column-->
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="sec-title">
                        	<h2>Feed your piggy cravings with our delectable tiffin options!</h2>
                            <h3>Know about us</h3>
                        </div>
                        <div class="content">
                            <div class="text">
                            	<p> HungryHog is inspired by the joyful and playful nature of these intelligent and sociable animals. Pigs are known for their love of food, and we take that as a guiding principle for our service. We believe that food should be a source of pleasure and nourishment, and we strive to create meals that are both satisfying and healthy.</p>
                                <p>We take pride in providing a personalized and attentive service to our customers. If you have any special requests or dietary restrictions, we will do our best to accommodate them. We are committed to providing you with an exceptional dining experience, and we look forward to serving you soon!</p>
                            </div>
                            <a href="#" class="read-more theme-btn btn-style-one">Read More</a>
                        </div>
                    </div>
                </div>
                
                <!--Images Column-->
                <div class="images-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="column col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            	<figure class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                	<img src="../static/images/resource/about-1.jpg" alt="" />
                                </figure>
                            </div>
                            <div class="column col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            	<figure class="image-box wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                	<img src="../static/images/resource/about-2.jpg" alt="" />
                                </figure>
                            </div>
                            <div class="column col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            	<figure class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                	<img src="../static/images/resource/about-3.jpg" alt="" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Restaurant Section-->
    
    <!--Parallax Image Section-->
    <section class="parallax-image-section" style="background-image:url(../static/images/background/5.jpg);">
    	<div class="auto-container">
        	<h2>Pig out on our mouth-watering tiffins delivered straight to your door!</h2>
            <h4>Best offers from Kitchens Near you</h4>
        </div>
    </section>
    <!--End Parallax Image Section-->
    
    <!--Services Section-->
    <section class="services-section">
    	
        <div class="auto-container">
        	<!--sec title one-->
            <div class="sec-title-one">
                <h2>Gourmet Cuisines</h2>
                <h4>Get ready to oink with delight!</h4>
            </div>
        	
        	<div class="row clearfix">
            	<!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        	<img src="../static/images/resource/services-1.png" alt="" />
                        </div>
                        <h3><a href="blog-single.html">Fast</a></h3>
                        <div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Explore menu</a>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        	<img src="../static/images/resource/services-2.png" alt="" />
                        </div>
                        <h3><a href="blog-single.html">Fresh</a></h3>
                        <div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Explore menu</a>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                        	<img src="../static/images/resource/services-3.png" alt="" />
                        </div>
                        <h3><a href="blog-single.html">Flavourful</a></h3>
                        <div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Explore menu</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--Services Section-->
    
    <!--Chef Info Section-->
    <section class="chef-info-section" style="background-image:url(../static/images/background/6.png);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        	<img src="../static/images/pig_master_chef_1.png" alt="" />
                        </figure>
                    </div>
                </div>
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Sec Title Three-->
                    	<div class="sec-title-three">
                        	<h2>Isha Gupta</h2>
                            <h4>The Master of Cooking</h4>
                        </div>
                        
                        <div class="text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.</div>
                        
                        <!--Social Icon Two-->
                        <ul class="social-icon-two">
                        	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-vine"></span></a></li>
                            <li><a href="#"><span class="fa fa fa-skyatlas"></span></a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Chef Info Section-->
    
    <!--Contact Banner-->
    <div class="contact-banner" style="background-image:url(../static/images/background/11.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<h2>Sniff out all our services today!</h2>
                </div>
                <div class="column col-md-6 col-sm-12 col-xs-12 text-right">
                	<a href="{{url_for('contactPage')}}" class="theme-btn btn-style-one">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Banner-->
{% endblock %}
