
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About Us || HungryHog</title>
<!-- Stylesheets -->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="../static/css/revolution-slider.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="../static/css/style.css" rel="stylesheet">
<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="../static/css/responsive.css" rel="stylesheet">
<!-- Load plotly.js into the DOM -->
<script src='https://cdn.plot.ly/plotly-2.18.2.min.js'></script>

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    
                </div>
                
            </div>
        </div>
        <!-- Header Top End -->
        
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{{url_for('snacksPage')}}"><img src="../static/images/HungryHogLogo.png" alt="HungryHog"></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{{url_for('admin_homePage')}}">Home</a></li>
                                    <li><a href="{{url_for('admin_usersPage')}}">Users</a></li>
                                     <li><a href="{{url_for('admin_kitchensPage')}}">Kitchens</a></li>
                                    <li><a href="{{url_for('admin_delivery_partnersPage')}}">Delivery Partners</a></li>


                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                        <!--Reserv Box Btn-->
                        <div class="btn-outer"><a href="#" class=" reserv-box-btn">Admin Login</a></div>
                        
                    </div><!--Nav Outer End-->
                    
                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                    	<button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->
                    
            	</div>    
            </div>
        </div>
    
    </header>
    <!--End Main Header -->
    
    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">
        
        <div class="hidden-bar-closer">
            <button class="btn"><i class="fa fa-close"></i></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
        
            <!-- .logo -->
            <div class="logo text-center">
                <a href="{{url_for('admin_homePage')}}"><img src="../static/images/logo-2.png" alt="Artica"></a>			
            </div><!-- /.logo -->
            
            <!-- .Side-menu -->
            <div class="side-menu">
            	<!-- .navigation -->
                <ul class="navigation clearfix">
                    <li><a href="{{url_for('admin_homePage')}}">Home</a></li>
                    <li><a href="{{url_for('admin_usersPage')}}">Users</a></li>
                    <li><a href="{{url_for('admin_kitchensPage')}}">Kitchens</a></li>
                    <li><a href="{{url_for('admin_delivery_partnersPage')}}">Delivery Partners</a></li>


                 </ul>
            </div><!-- /.Side-menu -->
        
        
        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(../static/images/background/5.jpg);">
    	<div class="auto-container">
            <h3>Hand-Crafted Dishes Sourced</h3>
            <h2>Kitchens Information</h2>
        </div>
    </section>
    <!--Page Title-->
    <div class="auto-container">
        <div class="outer-container clearfix">
    <div class="card">
        <div class="card-body">
            <span class="card-label"><!--Text--></span>
            <div class="card-body1" style="overflow-x: auto;">
            </div>
        </div>
    </div>
</div>
</div>

    <!--Contact Banner-->
    <div class="contact-banner" style="background-image:url(../static/images/background/11.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<h2>It's better to visit our place once</h2>
                </div>
                <div class="column col-md-6 col-sm-12 col-xs-12 text-right">
                	<a href="contact.html" class="theme-btn btn-style-one">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Banner-->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-7 col-sm-7 col-xs-12">
                            	<div class="footer-widget about-widget">
                                	<div class="footer-logo"><figure><a href="index.html"><img src="../static/images/HungryHogLogo.png" alt=""></a></figure></div>
                                    <div class="widget-content">
                                    	<div class="text">We take pride in our exceptional customer service. Our friendly and knowledgeable team is always here to answer your questions and assist you with anything you need. </div>
                                        <!--Contact Info-->
                                        <ul class="contact-info">
                                            <li><i class="fa fa-phone" aria-hidden="true"></i>
                                                Customer service : +91 XXXXXXXXXX</li>
                                        	<li><i class="fa fa-envelope" aria-hidden="true"></i>
                                                Email : helpdesk@hungryhog.in</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-5 col-sm-5 col-xs-12">
                            	<div class="footer-widget links-widget">
                                	<h2>usefull links</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">About Company</a></li>
                                            <li><a href="#">Bulk Order</a></li>
                                            <li><a href="#">Our Blog</a></li>
                                            <li><a href="#">Order Now</a></li>
                                            <li><a href="#">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget posts-widget">
                                	<h2>Latest Blog Post</h2>
                                    <div class="widget-content">
                                    	<div class="posts">
                                            <div class="post">
                                                <figure class="post-thumb"><img src="../static/images/resource/post-thumb-1.jpg" alt=""><a href="blog-single.html" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                                <div class="desc-text"><a href="blog-single.html">Peaceful Hostel</a></div>
                                                <div class="time">25th June 2016</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="../static/images/resource/post-thumb-2.jpg" alt=""><a href="blog-single.html" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                                <div class="desc-text"><a href="blog-single.html">Chicken Caesar</a></div>
                                                <div class="time">25th June 2016</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="../static/images/resource/post-thumb-3.jpg" alt=""><a href="blog-single.html" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                                <div class="desc-text"><a href="blog-single.html">Portobello Pizza</a></div>
                                                <div class="time">25th June 2016</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget opening-widget">
                                	<h2>Opening Hours</h2>
                                    <div class="widget-content">
                                    	
                                    	<ul>
                                        	<li class="clearfix"><div class="day pull-left">Mon — Fri</div><span class="dots">................</span><div class="time pull-right">9:00 am - 23:00 pm</div></li>
                                            <li class="clearfix"><div class="day pull-left">Saturday</div><span class="dots">................</span><div class="time pull-right">10:00 am - 22:00 pm</div></li>
                                            <li class="clearfix"><div class="day pull-left">Sunday</div><span class="dots">................</span><div class="time pull-right">10:00 am - 21:00 pm</div></li>
                                            
                                        </ul>
                                    
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                 </div>
             </div>
        
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<script>
    function getAppData() {
            $.ajax({
                type: "GET",
                url: "{{url_for('getKitchens')}}",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    console.log(result);
                    sampleData = result.get_kitchens;
                    var tabledata = result.get_kitchens;
                    console.log(tabledata);
                    var tablerow = '';
                    tablerow += `<table class="table table-striped table-bordered" style id="dataTable" data-toggle="table" data-search="true" data-side-pagination="server" data-pagination="true">
                    <thead>
                        <tr>
                        <th data-field="Kitchen_ID">Kitchen_ID</th>
                        <th data-field="Kitchen_Name">Kitchen_Name</th>
                        <th data-field="Kitchen_Type">Kitchen_Type</th>
                        <th data-field="Kitchen_open_time">Kitchen_open_time</th>
                        <th data-field="Kitchen_Close_time">Kitchen_Close_time</th>
                        <th data-field="Kitchen_Number">Kitchen_Number</th>
                        <th data-field="Meal_ID">Meal_ID</th>
                        <th data-field="Popularity">Popularity</th>
                        <th data-field="Kitchen_Address">Kitchen_Address</th>
                        </tr>
                    </thead><tbody>`
                    $.each(tabledata, function (key, value) {
                        console.log("key: " + key);
                        tablerow += '<tr class="' + key + '" id="rownum' + key + '">';
                            tablerow += '<td>' +value.Kitchen_ID + '</td>';
                            tablerow += '<td>' +value.Kitchen_Name + '</td>';
                            tablerow += '<td>' +value.Kitchen_Type + '</td>';
                            tablerow += '<td>' +value.Kitchen_open_time + '</td>';
                            tablerow += '<td>' +value.Kitchen_Close_time + '</td>';
                            tablerow += '<td>' +value.Kitchen_Number + '</td>';
                            tablerow += '<td>' +value.Meal_ID + '</td>';
                            tablerow += '<td>' +value.Popularity + '</td>';
                            tablerow += '<td>' +value.Kitchen_Address + '</td>';

                    });
                    $('.card-body1').append(tablerow);
                    $('#dataTable').DataTable();
                }
            });
        }
        getAppData();
</script>
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>
<script src="../static/js/jquery.js"></script> 
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/revolution.min.js"></script>
<script src="../static/js/jquery.fancybox.pack.js"></script>
<script src="../static/js/jquery.fancybox-media.js"></script>
<script src="../static/js/owl.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>