{%extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}    
        <!--Page Title-->
        <section class="page-title" style="background-image:url(../static/images/background/10.jpg);">
            <div class="auto-container">
                <h3>Hand-Crafted Dishes Sourced</h3>
                <h2>Checkout</h2>
            </div>
        </section>
        <!--Page Title-->

        <div class="checkout-page">
            <div class="auto-container">

                <!--Default Links-->
                <ul class="default-links">
                    <li class="clearfix">Returning Customer ? <a href="#"
                            class="theme-btn btn-style-three pull-right">click here to login</a></li>
                    <li class="clearfix">Have a Coupon ? <a href="#" class="theme-btn btn-style-three pull-right">click
                            here to enter your code</a></li>
                </ul>

                <!--Billing Details-->
                <div class="billing-details">
                    <div class="shop-form default-form">
                        <form method="post" action="checkout.html">
                            <div class="row clearfix">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

                                    <div class="default-title">
                                        <h2>Billing Details</h2>
                                    </div>

                                    <div class="row clearfix">

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="First name"
                                                required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="Last name"
                                                required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="Email" required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="Phone" required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <textarea placeholder="Address"></textarea>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group country col-md-12 col-sm-12 col-xs-12">
                                            <select name="country">
                                                <option>Country</option>
                                                <option>India</option>
                                                <option>India</option>
                                                <option>India</option>
                                                <option>India</option>
                                            </select>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="State" required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="Zip" required>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="check-box"><input type="checkbox" name="shipping-option"
                                                    id="account-option"> &ensp; <label for="account-option">Creat an
                                                    account?</label></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="default-title">
                                        <h2>Ship To a Different Address?</h2>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="form-group">
                                            <textarea class="shiping-address"
                                                placeholder="Chane Your Shipping Address Here . . ."></textarea>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="check-box"><input type="checkbox" name="shipping-option"
                                                    id="account-address"> &ensp; <label for="account-address">Create an
                                                    account?</label></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div><!--End Billing Details-->

                <!--Cart Outer-->
                <div class="cart-outer">
                    <div class="default-title">
                        <h2>Your Order Summary</h2>
                    </div>
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header">
                                <tr>
                                    <th class="prod-column" colspan="2">PRODUCT</th>
                                    <th class="price">Price</th>
                                    <th>QUANTITY</th>
                                    <th>Total</th>
                                    <th><span class="fa fa-trash-o"></span></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td colspan="2" class="prod-column">
                                        <div class="column-box">
                                            <figure class="prod-thumb"><a href="#"><img
                                                        src="../static/images/resource/products/prod-thumb-1.jpg"
                                                        alt=""></a></figure>
                                            <h4 class="prod-title">Caffee Americano</h4>
                                        </div>
                                    </td>
                                    <td class="price">Rs 550.00</td>
                                    <td class="qty">
                                        <div class="quantity-spinner"><button type="button" class="minus"><span
                                                    class="fa fa-minus"></span></button><input type="text"
                                                name="product" value="1" class="prod_qty" /><button type="button"
                                                class="plus"><span class="fa fa-plus"></span></button></div>
                                    </td>
                                    <td class="sub-total">Rs550.00</td>
                                    <td class="remove"><a href="#" class="remove-btn"><span
                                                class="fa fa-remove"></span></a></td>
                                </tr>

                                <tr>
                                    <td colspan="2" class="prod-column">
                                        <div class="column-box">
                                            <figure class="prod-thumb"><a href="#"><img
                                                        src="../static/images/resource/products/prod-thumb-2.jpg"
                                                        alt=""></a></figure>
                                            <h4 class="prod-title">Light Cappuccino</h4>
                                        </div>
                                    </td>
                                    <td class="price">Rs 80.00</td>
                                    <td class="qty">
                                        <div class="quantity-spinner"><button type="button" class="minus"><span
                                                    class="fa fa-minus"></span></button><input type="text"
                                                name="product" value="1" class="prod_qty" /><button type="button"
                                                class="plus"><span class="fa fa-plus"></span></button></div>
                                    </td>
                                    <td class="sub-total">Rs 80.00</td>
                                    <td class="remove"><a href="#" class="remove-btn"><span
                                                class="fa fa-remove"></span></a></td>
                                </tr>

                                <tr>
                                    <td colspan="2" class="prod-column">
                                        <div class="column-box">
                                            <figure class="prod-thumb"><a href="#"><img
                                                        src="../static/images/resource/products/prod-thumb-3.jpg"
                                                        alt=""></a></figure>
                                            <h4 class="prod-title">Caramel Latte</h4>
                                        </div>
                                    </td>
                                    <td class="price">Rs 2499</td>
                                    <td class="qty">
                                        <div class="quantity-spinner"><button type="button" class="minus"><span
                                                    class="fa fa-minus"></span></button><input type="text"
                                                name="product" value="1" class="prod_qty" /><button type="button"
                                                class="plus"><span class="fa fa-plus"></span></button></div>
                                    </td>
                                    <td class="sub-total">Rs 2499</td>
                                    <td class="remove"><a href="#" class="remove-btn"><span
                                                class="fa fa-remove"></span></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <!--Place Order-->
                <div class="place-order">
                    <div class="default-title">
                        <h2>Payment Method</h2>
                    </div>


                    <!--Payment Options-->
                    <div class="payment-options">
                        <ul>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-1" checked>
                                    <label for="payment-1">Direct Bank Transfer <span class="small-text">Make your
                                            payment directly into our bank account. Please use your Order ID as the
                                            payment reference. Your order won’t be shipped until the funds have cleared
                                            in our account.</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-2">
                                    <label for="payment-2">Cheque Payment</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-3">
                                    <label for="payment-3">Cash On Delivery</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-4">
                                    <label for="payment-4">Paypal</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <button type="button" class="theme-btn btn-style-three place-order">Place Order</button>

                </div>
                <!--End Place Order-->

            </div>
        </div>
{% endblock %}