{%extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}        
    <!--Gallery Section-->
    <section class="gallery-section">
    	<div class="auto-container">
        
        	<!--Section Title One-->
        	<div class="sec-title-one">
                <h2>Our Food Gallery Grid</h2>
                <h4>Fresh And Healthy Food Available</h4>
            </div>
            
            <!--Gallery Items-->
        	<div class="row clearfix">
            
            	<!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/4.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/5.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/6.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/7.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/8.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/9.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/10.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/11.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <a href="#" class="" title="Open Gallery Popup">
                            <div class="image-box">
                                <img src="../static/images/gallery/12.jpg" alt="" />
                                <div class="title-box">Masala Spiced Chickpeas</div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            
            <!-- Styled Pagination -->
            <div class="styled-pagination text-center">
                <ul>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a class="next" href="#">Next</a></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Special Dish-->
{% endblock %}
