{%extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image:url(../static/images/background/10.jpg);">
    <div class="auto-container">
        <h3>Hand-Crafted Dishes</h3>
        <h2>Profile Page</h2>
    </div>
</section>
<!--Page Title-->

<!--Cart Section-->
<section class="cart-section">
    <div class="auto-container">

        <form id="">
            <div class="row">
                <div id="myMap" class="col-md-4 myMap">
                    <!-- <img src="../static/images/product.jpg" class="img-responsive thumbnail" />
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d408.0799579171845!2d72.86328343730732!3d19.109513749500625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1680202549014!5m2!1sen!2sin"
                        width="370" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <iframe
                        src="https://maps.google.com/maps?q={{session.USER_LATITUDE}},{{session.USER_LONGITUDE}}&z=15&output=embed"
                        height="300" frameborder="0" style="border:0;width:100%;"></iframe>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title"><i class="fa fa-map-marker"></i> User Details</h5>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Full Name</label>
                                        <input type="text" placeholder="Full Name" value="{{session.USER_NAME}}"
                                            class="form-control input-sm required" name="name" disabled/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" placeholder="Email Address" value="{{session.USER_EMAIL}}"
                                            class="form-control input-sm required" name="email" disabled/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="mobile">Mobile</label>
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon">+91</span>
                                            <input type="text" class="form-control input-sm required user-mobile"
                                                value="{{session.USER_MOBILE}}" placeholder="Mobile Number"
                                                name="mobile" maxlength="10" min="10" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="address">House Address</label>
                                        <input type="text" placeholder="Street address" value="{{session.USER_STREET}}"
                                            class="form-control input-sm required user-street" name="address" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">State:</label>
                                        <input type="text" placeholder="state" value="{{session.USER_STATE}}"
                                            class="form-control input-sm required user-state" name="state" />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">

                                        <label for="">City:</label>
                                        <input type="text" placeholder="city" value="{{session.USER_CITY}}"
                                            class="form-control input-sm required user-city" name="city" />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">

                                        <label for="">Country:</label>
                                        <input type="text" placeholder="country" value="{{session.USER_COUNTRY}}"
                                            class="form-control input-sm required user-country" name="country" />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="pincode">Pincode</label>
                                        <input type="text" placeholder="Pincode" value="{{session.USER_PINCODE}}"
                                            class="form-control input-sm required user-pincode" name="pincode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--Cart Outer-->
        <div class="cart-outer" id="cart-outer">
            <div class="check-btns" style="margin-top: 20px; float: right;">
                <button id="Checkout" class="theme-btn btn-style-three user-button">Update</button>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="../static/js/profile.js"></script>
{% endblock %}