
{%extends "base.html" %}

{% block title %}Recipes{% endblock %}
    
{% block content %}
<!--Reservartin Section-->
<section class="reservation-section">
    <div class="auto-container">
        <!--Content Box-->
        <div class="content-box">
            <h2>Recipes based on your Ingredients</h2>
            <h3>Get A Recipe</h3>
            <div class="text">
                <p>Embark on a Porcine Gastronomic Adventure: Hungry Hog Unveils the Art of Pig-Inspired Cooking!</p>
                <p>Anyday, <span>anytime, </span>available 24/7, <span> to fulfill </span> all your pig-outs.</p>
            </div>
            <h4>ReciPig!</h4>
        </div>
        <!--End Content Box-->
        
        <!--form-box-->
        <div class="form-box default-form wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <h3>Enter your ingredients separated by a comma...</h3>
            <div class="clearfix">

                <div class="form-group icon-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="group-inner">
                        <input class="recipe-input" type="text" value="" placeholder="Ingredients" required>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <button class="theme-btn btn-style-one recipe-button">Oink!</button>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!--Reservartin Section-->

<!--Parallax Image Section-->
<!-- <section class="parallax-image-section" style="background-image:url(../static/css/background/8.jpg);">
    <div class="auto-container">
        <h2>Enjoy Pleasant Pastime With Friends and Partners</h2>
        <h4>Relaxing Atmosphere</h4>
    </div>
</section> -->
<!--End Parallax Image Section-->

<!--Meeting Section-->
<section class="meeting-section">
    <div class="auto-container recipe-container">
        
    </div>
</section>
<!--End Meeting Section-->
{% endblock %}
{% block scripts %}
<script src="../static/js/recipe.js"></script>
{% endblock %}